<html>
    <head>
		<title>A Simple HTTP Server</title>
	</head>
	<body>
		<form action="/greet">
			<section>
			  <label for="friendsname-text">What is the name of someone you love?</label>
			  <input type="text" name="friendsname" id="friendsname-text">
			</section>
		  
			<section>
				<label for="adjective-text">What is a good adjective that describes them?</label>
				<input type="text" name="adjective" id="adjective-text">
			</section>

			<section>
				<label for="noun-text">What is a good noun that describes you?</label>
				<input type="text" name="noun" id="noun-text">
			</section>

			<section>
				<label for="place-text">Name a place:</label>
				<input type="text" name="place" id="place-text">
			</section>

			<section>
			  <label for="verb-select">Select a verb:</label>
			  <select name="verb" id="verb-select">
				<option value="">--Please choose an option--</option>
				<option value="love">love</option>
				<option value="cherish">cherish</option>
				<option value="adore">adore</option>
				<option value="favor">favor</option>
			  </select>
			</section>

			<section>
				<label for="noun2-text">Name a noun:</label>
				<input type="text" name="noun2" id="noun2-text">
			</section>

			<section>
				<label for="yourname-text">What is your name?</label>
				<input type="text" name="yourname" id="yourname-text">
			  </section>
		  
			<input type="submit" value="Create! <3">
	</body>
</html>