<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Custom Valentine</title>
</head>
<body>
  <h1>Dear {{.FormValue "friendsname"}},</h1>
  <p>I think you are {{.FormValue "adjective"}} and I am the luckiest {{.FormValue "noun"}} in the entire {{.FormValue "place"}}. I {{.FormValue "verb"}} you more each day!</p>
  <p>Will you be my {{.FormValue "noun2"}}?</p>
  <footer> Love, {{.FormValue "yourname"}}</footer>
</body>
</html>